<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring boot project</title>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center">
<h3>Spring Boot Project</h3>
<a th:href="@{/animal}">Petler</a>
<a th:href="@{/owner}">Sahipler</a>
<a th:href="@{/animal-register}">Pet Kaydı</a>
<a th:href="@{/owner-register}">Pet Sahibi Kaydı</a>
</div>

</body>
</html>